.App {
  text-align: center;
  background-color: rgb(227, 230, 227);
}

.App-link {
  color: #61dafb;
}

.screen-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}